version: 2
updates:
  - package-ecosystem: "gradle"
    cooldown: 
      default-days: 4
      exclude:
        - "com.ibm.cloud:cloudant"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "weekly"
      day: "monday"
    pull-request-branch-name:
      separator: "-"
